/* Error: Undefined mixin.
 *   ,
 * 5 | /             @include mediaquery-mbile(){
 * 6 | |                 width: 100%;
 * 7 | |                 height: 30%;
 * 8 | | 
 * 9 | \             }
 *   '
 *   scss\pages\contact.scss 5:13  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a   \2577 \a 5 \2502  \250c              @include mediaquery-mbile(){\a 6 \2502  \2502                  width: 100%;\a 7 \2502  \2502                  height: 30%;\a 8 \2502  \2502  \a 9 \2502  \2514              }\a   \2575 \a   scss\\pages\\contact.scss 5:13  root stylesheet";
}
